:root {
  --background-dark: #383636;
  --background-light: #fafafa;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.app {
  background-color: #0081d6;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #161515;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

body {
  /* background-color: var(--background-light); */
  margin: 0;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

nav {
  position: fixed;
  display: grid;
  top: 0;
  background-color: #f5f5f5;
  height: 3.3em;
  line-height: 3.3em;
  width: 100%;
  border-bottom: 0.1em solid #dbdbdb;
  grid-template-columns: 2fr 1fr 1fr;
  z-index: 1;
  transition: 1s linear;
  align-items: center;
  padding-bottom: 6px;
  transition: 1s linear;
}

nav.dark {
  background-color: var(--background-dark);
  transition: 1s linear;
}

.logo {
  text-decoration: none;
}

.logo > img {
  vertical-align: middle;
  height: 2rem;
}

.search {
  background: #fafafa;
  height: 2em;
  margin: 0.8em;
  /* width: 15.5em; */
  border: 0.07em solid #dbdbdb;
  border-radius: 0.2em;
}

.search::placeholder {
  text-align: center;
  color: #808080;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
}

.nav-links i  {
  transform: scale(1.6);
  color: #252525;
  transition: 1s linear;
}

.dark .nav-links i {
  color: var(--background-light);
}

.nav-links.dark i {
  color: #f5f5f5;
}

.container {
  padding: 0 10%;
  background: var(--background-light);
  transition: 1s linear;
  min-height: 100vh;
}

.dark.container {
  background-color: var(--background-dark);
  transition: 1s linear;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9em 0 2em 5em;
  border-bottom: 0.2px solid #dbdbdb;
  /* margin-top: 5em; */
  margin-bottom: 2em;
  text-align: center;
}

/* .dark .bio{
  color: white;
  background-color: var(--background-dark);
} */

#profilePhotoInput {
  display: none;
}

.profile-photo {
  background: #000;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 0.5em;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-photo img:hover {
  opacity: 0.7;
}

.profile-info .name {
  font-size: clamp(1.5em, 3vw, 2.5em);
  color: #545454;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}

.profile-info .about {
  font-size: clamp(1.2em, 2vw, 1.5em);
  color: #545454;
  font-family: 600;
}

.dark .bio .profile-info .about {
  color: #f5f5f5;
}

.dark .bio .profile-info .name {
  color: #f5f5f5;
}

.profile-info button {
  text-align: center;
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  padding: 0.5rem;
  width: 5em;
}

.profile-info button:hover {
  background-color: #0081d6;
}

.edit-bio-form input {
  width: 50%;
  height: 2em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-bio-form button {
  margin: 1em 1em 0 0;
}

.edit-bio-form .cancel-button {
  background-color: #890000;
}

#addPhotoInput {
  display: none;
}

.add-photo-button {
  transform: scale(3);
  position: fixed;
  bottom: 4.5em;
  right: 4em;
  cursor: pointer;
  z-index: 10;
  color: var(--background-dark);
  transition: 1s linear;
}

.dark .add-photo-button {
  color: var(--background-light);
  transition: 1s linear;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.7em;
  column-gap: 1em;
  padding-bottom: 10rem;
  place-items: center;
  padding-top: 1.4em;
}

.item {
  height: 17em;
  background: #000;
  cursor: pointer;
  position: relative;
}



.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover .item-image {
  opacity: 0.7;
}

.delete-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  background-color: #890000;
  color: #fff;
  border: 1px solid #c8c8c8;
  transform: scale(1.5);
}

.delete-button:hover {
  background-color: #670000;
  color: #fff;
}

.item:hover .delete-button {
  opacity: 1;
}

.clear-button {
  background: rgba(255, 0, 0, 0.8);
  color: #f5f5f5;
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 5em;
}

.clear-button:hover{
  border: 1px solid rgba(255, 0, 0, 0.8);
  color: rgba(255, 0, 0, 0.8);
  background: #f3f3f3;
}

.clear-button-container {
  text-align: center;
}

.mobile-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #f5f5f5;
  display: none;
  border-top: 0.1em solid #dbdbdb;
}

.dark .mobile-nav-links {
  background-color: var(--background-dark);
  transition: 1s linear;
}

.mobile-nav-links i {
  transform: scale(1.7);
  color: #252525;
  transition: 1s linear;
}

.dark .mobile-nav-links i {
  color: var(--background-light);
  transition: 1s linear;
}

.modal-wrapper {
  background-color: #d8d8e4;
  padding: 1.5em;
  width: 24em;
  height: 18em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 1em;
  z-index: 20;
  border-radius: 0.5em;
  transition: 7s ease;
  font-weight: 800;
  transition: 1s linear;
}
.dark .modal-wrapper {
  background-color: #100f0f;
  color: var(--background-light);
  transition: 1s linear;
}
.modal-container {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 20;
}

.yes-button {
  background: green;
  padding: 0.5em;
  margin-right: 1em;
  width: 5em;
  text-align: center;
  display: inline-block;
  color: #f5f5f5;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
}

.yes-button:hover{
  border: green;
  color: green;
  background-color: #f3f3f3;
  border: 1px solid green;
}

.no-button {
  background: rgba(255, 0, 0, 0.7);
  padding: 0.5em;
  width: 5em;
  text-align: center;
  display: inline-block;
  border-radius: 1em;
  color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

.no-button:hover{
  border:  1px solid rgba(255, 0, 0, 0.7);
  color: rgba(255, 0, 0, 0.7);
  background-color: #f3f3f3;
}

.instagram-text{
  
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.7em;
}


.modal-wrapper p{
  font-size: 2em;
  text-align: center;
}
.show-modal {
  display: none;
}

.info-icon {
  font-size: 2rem;
  color: #ff0000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #e85454;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.loader-container {
  display: grid;
  place-items: center;
}

.fa-solid.fa-pencil {
  margin-left: 0.4em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main.dark {
  background-color: var(--background-dark);
}

main {
  flex: 1 1 auto;
}

.empty-gallery-container {
  text-align: center;
  margin-top: 15%;
  font-weight: 800;
  font-size: clamp(1.5em, 2.5vw, 2rem);
  transition: 1s linear;
  color: var(--background-dark);
}

.dark .empty-gallery-container {
  color: var(--background-light);
  transition: 1s linear;
}

.toggle-container {
  background: var(--background-dark);
  border-radius: 1em;
  width: 3.5em;
  height: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #808080;
  transition: 1s linear;
}

.dark .toggle-container {
  background-color: var(--background-light);
  justify-content: flex-end;
  transition: 1s linear;
}

.label{
  cursor: pointer;
}

.toggle-ball {
  background: #fff;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  transition: 1s linear;
}

.dark .toggle-ball {
  transition: 1s linear;
  background: var(--background-dark);
}

.toggler {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  cursor: pointer;
  right: 3%;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--background-dark);
  transition: 1s linear;
  /* width: 100%; */
}

.cancel-modal{
  color: #000000;
  font-size: 2em;
  position: absolute;
  top: -2%;
  font-weight: bold;
  right: 1em;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 0.3em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.toggler p:nth-child(1){
  margin-right: 1em;
}
.toggle-container{
  margin-right: 1em;
}

.dark .toggler {
  color: var(--background-light);
  transition: 1s linear;
}



@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-wrapper p{
    font-size: 1.8em;
  }

  .nav-links {
    display: none;
  }
  .mobile-nav-links {
    display: flex;
  }

  .bio {
    grid-template-columns: 1fr;
    place-items: center;
    padding: 9em 0 2em 0;
  }
}

@media screen and (max-width: 600px) {
  .profile-photo {
    width: 5em;
    height: 5em;
    margin-top: 1.5em;
  }

  .profile-info button,
  .cancel-button {
    padding: 0.3rem;
    width: 4em;
  }

  .add-photo-button{
    right:4%;
    bottom: 6em;
    font-size: 0.8em;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .edit-bio-form input {
    width: 100%;
  }

  .modal-wrapper{
    width: 18em;
    height: 18em;
  }
}

@media screen and (max-width: 412px) {
  .toggler {
    top: 12%;
  }
  .toggler p {
    display: none;
  }

  .modal-wrapper{
    width: 14em;
    height: 14em;
  }

  .modal-wrapper p{
    font-size: 1.3em;
  }
}


